#ramen-menu {
    height: 30vh ;
    display: flex;
    justify-content: center;
    padding: 15px;
}
#food {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 400px;
    width: 400px;


}
#ramen-detail {
  
    text-align: center;
}
